*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Stile del div container */
div.container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.652);
    border-radius: 20px;
    background-color:whitesmoke;
    height: 500px;
    width: 1000px;
    padding: 200px;
}


/* Stile del titolo e del sottotitolo */
#title{
    font-size: 57px;
    margin-bottom: 50px;

}

#subtitle{
    position: absolute;
    z-index: 2;
    top: 170px;
    color: #198754;
    font-size: 24px;
    margin-bottom: 30px;
}


/* Stile bottone di ricerca */
div.container>button{
    width: 100px;
    margin-top: 20px;
    align-self: flex-end;
}


/* Stile per lo spinner. Il bottone di caricamento prima che vengano visualizzati i dati ottenuti dalla ricerca */
.spinner-grow{
    align-self: center;
}

@keyframes spinner-grow {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(2);
        opacity: 0.5;
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }
}


/* Stile per la lista di elementi trovati dalla ricerca */
ul.list-group{
    padding: 100px 0;
}

li:hover{
    cursor: pointer;
}

i{
    font-size: 36px;
    color: black;
}


/* Stile per il div nella casistica in cui la ricerca non ha prodotto risultati */
div.notFound{
    align-self: center;
    padding: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.notFound>p{
    font-size: 26px;
    font-weight: bold;
}


/* stile del numero di ricerche trovate */
span.count{
    position: absolute;
    right: 50px;
    bottom: 40px;
    font-size: 26px;
    font-weight: bold;
    z-index: 2;
}


/* Stile del bottone per tornare indietro */
.restart{
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;
    cursor: pointer;   
}